.custom-btn {
    width: 800px !important;
    margin: auto;
}

.cust-btn {
	width: 500px !important;
	margin:auto;
}

.midd-btn {
margin:auto;
width: 100px !important;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
